$primary-color:rgba(70, 163, 88, 1);
$color-white:#fff;
$bg-color:#F5F5F5;


.mb-s{
  margin-bottom: 2rem;
}
.mb-m{
  margin-bottom: 4rem;
}
.mb-l{
  margin-bottom: 6rem;
}
.mb-xl{
  margin-bottom: 8rem;
}